* {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
}
nav {
  display: flex;
  justify-content: space-around;
  background-color: #1f2937;
}

h1 {
  font-size: 48px;
  font-weight: 700;
  color: #f9faf8;
}
p {
  font-size: 18px;
  color: #e5e7eb;
}
a {
  text-decoration: none;
  size: 18px;
  color: #e5e7eb;
  margin: 5px;
}
#logo {
  color: #f9faf8;
  font-size: 24px;
}
.container-nav {
  padding: 3%;
}

.navbar-links {
  align-self: center;

  text-decoration: none;
}

.container-hero {
  padding: 10%;
  background-color: #1f2937;
}
#hero-button {
  background-color: #3882f6;
  color: #e5e7eb;
  border-radius: 6px;
  border: none;
  padding: 2% 6%;
  font-size: medium;
  font-weight: 600;
  margin-top: 18px;
}
.info-header {
  display: flex;
  justify-content: center;
}
.image-container {
  display: flex;
  justify-content: space-between;
}
#second-header {
  font-size: 36px;
  color: #1f2937;
  font-weight: bolder;
}
